{
    "presets": [
        [
            "env",
            {
                "useBuiltIns": "entry",
                "targets": {
                    "browsers": [
                        "Chrome >= 40",
                        "iOS >= 9",
                        "Android >= 4",
                        "ie >= 9"
                    ]
                }
            }
        ],
        "stage-0"
    ],
    "plugins": [
        "transform-runtime"
    ]
}
